/* TopBar.css */

.top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(40% + 4px);
  margin: 0 auto;
  border-radius: 16px 16px 0 0;
}

.map-button {
  height: 100px;
  width: 100%;
  font-size: 14px;
  background-color: #12162c;
  color: #e0e0ff;
  cursor: pointer;
  transition: all 0.25s ease;
  border: 2px solid rgba(110, 142, 251, 0.45);
}

.map-button:hover {
  background-color: #1a1e3a;
}

.map-button.selected {
  font-size: 20px;
  color: #ffffff;
  border-bottom: 0 !important;
}
.top-bar .map-button:first-child {
  border-top-left-radius: 16px;
  border-top: 2px solid rgba(110, 142, 251, 0.45);
  border-left: 2px solid rgba(110, 142, 251, 0.45);
}

.top-bar .map-button:last-child {
  border-top-right-radius: 16px;
  border-top: 2px solid rgba(110, 142, 251, 0.45);
  border-right: 2px solid rgba(110, 142, 251, 0.45);
}
